In [ ]:
# ------------------------------------------------------------
# Step 1 â€” Load & Explore a Real Dataset (Restaurant Tips Data)
# ------------------------------------------------------------

# Import pandas - a powerful library for data manipulation and analysis
import pandas as pd
print("\nâœ… pandas imported successfully!")

âœ… pandas imported successfully!

In [89]:
# step 1.1 â€” Load dataset from the dataset folder

csv_path = "./Dataset/Restaurant-Tips.csv"
print(f"\nðŸ“‚ Loading dataset from: {csv_path}")
df = pd.read_csv(csv_path)
print("\nâœ… Dataset loaded successfully!")

ðŸ“‚ Loading dataset from: ./Dataset/Restaurant-Tips.csv

âœ… Dataset loaded successfully!

In [65]:

# step 1.2 â€” Quick check - overview of the dataset
print("\n--- Quick Overview of the Dataset ---")

print("\nThe shape of the dataset:", df.shape)              # shape of the DataFrame - rows and columns
print("\nColumn names:", df.columns)                        # column names of the DataFrame - headers
print("\nFirst 5 rows:\n", df.head())                       # first 5 rows of the DataFrame - preview
print("\nData types and non-null counts:", df.info())     # data types and non-null counts of each column

--- Quick Overview of the Dataset ---

The shape of the dataset: (244, 7)

Column names: Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

First 5 rows:
    total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

Data types and non-null counts: None

In [66]:
# Step 2 â€” Inspect & understand the dataset

print("\n--- Inspecting the Dataset ---")
print("Summary statistics of numeric columns:\n", df.describe()) # numeric summary: count, mean, std, min, 25%, 50%, 75%, max of each column

print("\nUnique values in 'day' column:", df['day'].unique())    # unique values in the 'day' column

--- Inspecting the Dataset ---
Summary statistics of numeric columns:
        total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Unique values in 'day' column: ['Sun' 'Sat' 'Thur' 'Fri']

In [67]:
# Step 2.2 View non-numeric summaries - categorical/text columns

print("\nSummary statistics of categorical/text columns:\n")
print(df.describe(include=['object']))  # summary statistics for object (text/categorical) columns

Summary statistics of categorical/text columns:

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

In [68]:
# Step 2.3 Check missing values:
print("\nMissing values in each column:")
print(df.isnull().sum())   # count of missing values per column

Missing values in each column:
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [69]:
# step 2.3 Check missing values:
print("\nMissing values in each column:")
print(df.isnull().sum())   # count of missing values per column

Missing values in each column:
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [70]:
# Step 3 â€” Clean missing & inconsistent data
# step 3.2 Fill missing values - using median for numeric columns, mode for categorical columns
print("\n--- Filling missing values ---")

df_filled = df.fillna({"total_bill": df["total_bill"].median(), "tip": 0})
print("Missing values filled using median for 'total_bill' and 0 for 'tip'.")
print("Missing values after filling:\n", df_filled)

--- Filling missing values ---
Missing values filled using median for 'total_bill' and 0 for 'tip'.
Missing values after filling:
      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [71]:
# step 3.3 Convert data types (if needed):
print("\n--- Converting Data Types ---")
df["day"] = df["day"].astype("category")   # categorical type for efficiency
print("\nData types after conversion:\n", df.dtypes)

--- Converting Data Types ---

Data types after conversion:
 total_bill     float64
tip            float64
sex             object
smoker          object
day           category
time            object
size             int64
dtype: object

In [72]:
# 3.4 Remove duplicates (if any):
print("\n--- Removing Duplicates ---")

df = df.drop_duplicates()
print("Duplicates removed. Shape before:", before, "Shape after:", after)

--- Removing Duplicates ---
Duplicates removed. Shape before: (244, 7) Shape after: (244, 7)

In [73]:
# Step 4 â€” Add useful columns

#4.1 Example â€” tip percentage column: 
print("\n--- Added 'tip_percentage' column ---")

df['tip_percentage'] = (df['tip'] / df['total_bill']) * 100
print(df[['total_bill', 'tip', 'tip_percentage']].head())

--- Added 'tip_percentage' column ---
   total_bill   tip  tip_percentage
0       16.99  1.01        5.944673
1       10.34  1.66       16.054159
2       21.01  3.50       16.658734
3       23.68  3.31       13.978041
4       24.59  3.61       14.680765

In [78]:
# Step 4.2 Example â€” flagging large bills:
print("\n--- Flagging large bills ---")

df["large_bill"] = df["total_bill"] > 30
print(df[['total_bill', 'large_bill']].head())

--- Flagging large bills ---

Large bills flagged:
    total_bill  large_bill
0       16.99       False
1       10.34       False
2       21.01       False
3       23.68       False
4       24.59       False

In [79]:
# Step 5 â€” Filter, sort, and select

#5.1 Filter rows (example: bills over $30):
print("\n--- Filtering Rows ---")

high_bills = df[df["total_bill"] > 30]
print(high_bills)

--- Filtering Rows ---
     total_bill    tip     sex smoker   day    time  size  tip_percentage  \
11        35.26   5.00  Female     No   Sun  Dinner     4       14.180374
23        39.42   7.58    Male     No   Sat  Dinner     4       19.228818
39        31.27   5.00    Male     No   Sat  Dinner     3       15.989767
44        30.40   5.60    Male     No   Sun  Dinner     4       18.421053
47        32.40   6.00    Male     No   Sun  Dinner     4       18.518519
52        34.81   5.20  Female     No   Sun  Dinner     4       14.938236
56        38.01   3.00    Male    Yes   Sat  Dinner     4        7.892660
59        48.27   6.73    Male     No   Sat  Dinner     4       13.942407
83        32.68   5.00    Male    Yes  Thur   Lunch     2       15.299878
85        34.83   5.17  Female     No  Thur   Lunch     4       14.843526
95        40.17   4.73    Male    Yes   Fri  Dinner     4       11.774956
102       44.30   2.50  Female    Yes   Sat  Dinner     3        5.643341
112       38.07   4.00    Male     No   Sun  Dinner     3       10.506961
141       34.30   6.70    Male     No  Thur   Lunch     6       19.533528
142       41.19   5.00    Male     No  Thur   Lunch     5       12.138869
156       48.17   5.00    Male     No   Sun  Dinner     6       10.379905
167       31.71   4.50    Male     No   Sun  Dinner     4       14.191107
170       50.81  10.00    Male    Yes   Sat  Dinner     3       19.681165
173       31.85   3.18    Male    Yes   Sun  Dinner     2        9.984301
175       32.90   3.11    Male    Yes   Sun  Dinner     2        9.452888
179       34.63   3.55    Male    Yes   Sun  Dinner     2       10.251227
180       34.65   3.68    Male    Yes   Sun  Dinner     4       10.620491
182       45.35   3.50    Male    Yes   Sun  Dinner     3        7.717751
184       40.55   3.00    Male    Yes   Sun  Dinner     2        7.398274
187       30.46   2.00    Male    Yes   Sun  Dinner     5        6.565988
197       43.11   5.00  Female    Yes  Thur   Lunch     4       11.598237
207       38.73   3.00    Male    Yes   Sat  Dinner     4        7.745933
210       30.06   2.00    Male    Yes   Sat  Dinner     3        6.653360
212       48.33   9.00    Male     No   Sat  Dinner     4       18.621974
219       30.14   3.09  Female    Yes   Sat  Dinner     4       10.252157
237       32.83   1.17    Male    Yes   Sat  Dinner     2        3.563814
238       35.83   4.67  Female     No   Sat  Dinner     3       13.033771

     large_bill
11         True
23         True
39         True
44         True
47         True
52         True
56         True
59         True
83         True
85         True
95         True
102        True
112        True
141        True
142        True
156        True
167        True
170        True
173        True
175        True
179        True
180        True
182        True
184        True
187        True
197        True
207        True
210        True
212        True
219        True
237        True
238        True

In [80]:
# 5.2 Select columns:

print("\n--- Selecting Columns ---")
subset = df[["day", "total_bill", "tip", "tip_percentage"]]
print(subset)

--- Selecting Columns ---
      day  total_bill   tip  tip_percentage
0     Sun       16.99  1.01        5.944673
1     Sun       10.34  1.66       16.054159
2     Sun       21.01  3.50       16.658734
3     Sun       23.68  3.31       13.978041
4     Sun       24.59  3.61       14.680765
..    ...         ...   ...             ...
239   Sat       29.03  5.92       20.392697
240   Sat       27.18  2.00        7.358352
241   Sat       22.67  2.00        8.822232
242   Sat       17.82  1.75        9.820426
243  Thur       18.78  3.00       15.974441

[243 rows x 4 columns]

In [82]:
# step 5.3 Sort values:

print("\n--- Sorting Values ---")
top_tips = df.sort_values(by="tip", ascending=False).head(10)
print(top_tips)

--- Sorting Values ---
     total_bill    tip     sex smoker   day    time  size  tip_percentage  \
170       50.81  10.00    Male    Yes   Sat  Dinner     3       19.681165
212       48.33   9.00    Male     No   Sat  Dinner     4       18.621974
23        39.42   7.58    Male     No   Sat  Dinner     4       19.228818
59        48.27   6.73    Male     No   Sat  Dinner     4       13.942407
141       34.30   6.70    Male     No  Thur   Lunch     6       19.533528
183       23.17   6.50    Male    Yes   Sun  Dinner     4       28.053517
214       28.17   6.50  Female    Yes   Sat  Dinner     3       23.074192
47        32.40   6.00    Male     No   Sun  Dinner     4       18.518519
239       29.03   5.92    Male     No   Sat  Dinner     3       20.392697
88        24.71   5.85    Male     No  Thur   Lunch     2       23.674626

     large_bill
170        True
212        True
23         True
59         True
141        True
183       False
214       False
47         True
239       False
88        False

In [85]:
# Step 6 â€” Grouping & aggregation (key for analysis)

# 6.1 Average tip by day:
print("\n--- Average Tip by Day ---")
average_tips = df.groupby("day")["tip"].mean()
print(average_tips)

--- Average Tip by Day ---
day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.784098
Name: tip, dtype: float64

C:\Users\ALI KEY\AppData\Local\Temp\ipykernel_10200\2466291303.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_tips = df.groupby("day")["tip"].mean()

In [86]:
# step 6.2 Multiple aggregations:

print("\n--- Multiple Aggregations ---")
multiple_agg = df.groupby("day").agg(
    average_tip=("tip", "mean"),
    total_bill=("total_bill", "sum"),
    count=("tip", "count")
)
print(multiple_agg)

--- Multiple Aggregations ---
      average_tip  total_bill  count
day
Fri      2.734737      325.88     19
Sat      2.993103     1778.40     87
Sun      3.255132     1627.16     76
Thur     2.784098     1083.33     61

C:\Users\ALI KEY\AppData\Local\Temp\ipykernel_10200\61852955.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  multiple_agg = df.groupby("day").agg(

In [87]:
# step 6.3 Reset index for tidy tables:\

print("\n--- Reset Index ---")
tidy_table = multiple_agg.reset_index()
print(tidy_table)

--- Reset Index ---
    day  average_tip  total_bill  count
0   Fri     2.734737      325.88     19
1   Sat     2.993103     1778.40     87
2   Sun     3.255132     1627.16     76
3  Thur     2.784098     1083.33     61

In [88]:
# -------------------------------
# âœ… End of Day 3 
# -------------------------------
print("\nâœ… End of Day 3: Pandas for Data Handling Complete!")
print("You learned how to manipulate DataFrames, handle missing data, filter rows, select columns, and perform groupby operations.")
print("Now it's time to move on to the next day! Keep up the great work!")

âœ… End of Day 3: Pandas for Data Handling Complete!
You learned how to manipulate DataFrames, handle missing data, filter rows, select columns, and perform groupby operations.
Now it's time to move on to the next day! Keep up the great work!